@model IEnumerable<LocalEats.Models.RestaurantVm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestautantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantZipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Features)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RestautantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantZipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Features)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
