@using LocalEats.Models
@model IEnumerable<LocalEats.Models.Restaurant>

@{
    ViewBag.Title = "RestaurantList";
}

@using (Html.BeginForm("RestaurantList", "RestaurantsTemp", FormMethod.Get))
{
    <p>
        City: @Html.TextBox("searchCity")
        <input type ="submit" value="Search"/>
    </p>
}
<h2>RestaurantList</h2>

<div class="row-fluid">
    @foreach (var b in Model)
    {
        <div class="col-sm-3">
            <p>@b.Photos.First()</p>
            <p style="color: blue"><b>@b.Name</b>
            </p>
            <p>@b.StreetAddress</p>
            <p>@b.City, @b.State, @b.Zipcode</p>
            
        </div>
    }
</div>


